<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html" />
    <title>Getting Started: Saving Web Content</title>
</head>
<body>
    <h1> Twitterもどき！</h1>
    <div>
        <h2>Tweet</h2>
        <form th:action="@{/tweet}" method="post">
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
            <button type="submit">Tweet</button>
        </form>
    </div>
    <span th:if="${#lists.isEmpty(tweets)}">ツイートはありません</span>
    <div th:each="tweet, status : ${tweets}">
        [[${tweet.user.id}]]
        <p>[[${tweet.message}]]</p>
    </div>
</body>
</html>
