<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html" />
    <title>Getting Started: Saving Web Content</title>
</head>
<body>
    <h1> Twitterもどき！新規登録ページ</h1>
    <div>
        <h2>Tweet</h2>
        <form th:action="@{/signup}" method="post">
            <input type="text" placeholder="ユーザーID" name="userId" size="40" autocomplete="OFF">
            <input type="password" placeholder="パスワード" name="userPassWord" size="100" autocomplete="OFF">
            <button type="submit">登録</button>
        </form>
    </div>
    <p><a href="/login">ログインはこちら</a></p>
</body>
</html>
